* {
    box-sizing: border-box;
}

body {
    height: 90vh;
    margin: 50vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    border: solid thistle;
    padding: 2vmin;
    color: gray;
    font-size: 9vmin;
}

p {
    width: 50vmin;
    text-align: center;
    font-size: 4vmin;
    margin-bottom: -2vmin;
}

#board {
    display: grid;
    gap: 3vmin;
    grid-template-columns: repeat(4, 10vmin) 18vmin;
    grid-template-rows: repeat(9, 10vmin);
    margin-top: 10vmin;
}

#board > div:not(.result) {
    border-radius: 50%;
    border: beige solid;
}

#spacemarkers {
    display: grid;
    grid-template-columns: repeat(4, 10vmin) 18vmin;
    gap: 3vmin;
    margin-top: -2vmin;

}

#spacemarkers > div {
    height: 4vmin;
    border-width: 5vmin;
    border-style: solid;
    border-color: transparent transparent thistle;
    transform: scale(0.8);
}

#colorsel {
    display: grid;
    grid-template-columns: repeat(6, 10vmin);
    gap: 3vmin;
    margin-bottom: 5vmin;
}

#colorsel > div {
    margin-top: 5vmin;
    height: 10vmin;
    border: 1vmin solid beige;
    border-radius: 50%;
}

#col0 {
    background-color: pink;
}

#col1 {
    background-color: orange;
}

#col2 {
    background-color: plum;
}

#col3 {
    background-color: lightskyblue;
}

#col4 {
    background-color: lemonchiffon;
}

#col5 {
    background-color: darkseagreen;
}

#secretcode {
    gap: 3vmin;
    grid-template-columns: repeat(4, 10vmin);
    margin-top: 9vmin;
    margin-bottom: -4vmin;
    padding: 2vmin;
    border: beige solid;
    
}

#secretcode > div {
    height: 10vmin;
    border: thistle solid;
    border-radius: 50%;
    background-color: beige;
}

button {
    margin-top: 3vmin;
    padding: 4vmin;
    background-color: thistle;
    color: white;
    border-radius: 90%;
    border-color: transparent;
}

button:hover:not(:disabled) {
    background-color: violet;
}
#check {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90%;
    height: 6vmin;
}

#check:disabled {
    background-color: lightgray;
}

#colorsel > div.selected-color {
    border-color: gray;

}

div.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.perfect, div.almost, div.miss {
    border-radius: 50%;
    border: none;
}

div.perfect {
    background-color: black;
}
div.almost {
    background-color: lightgray;
}
div.miss {
    background-color: white;
    border: 0.2vmin solid gray;
}
div.result > article {
    display: grid;
    grid-template-columns: repeat(2, 3vmin);
    grid-template-rows: repeat(2, 3vmin);
    gap: 0.5vmin;
}

